<div *ngIf="!isLoading && !error">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin: 20px 0 0 0 ">
        <div class="card mb-12 shadow-sm">
          <div class="card-body" *ngIf="movie">
            <p class="card-text">
              <div class="row">
                <div class="col-md-4">

                  <img class="card-img-top" [alt]="movie.title" [src]="imageUrl" style="display: block; width: 319px; margin: 0 0 20px 0">

                  <div *ngFor="let genre of movie.genres" style="margin:0 3px" class="badge badge-pill badge-primary">
                    {{ genre.name }}
                  </div>

                  <div class="small text-primary" style="margin: 15px 0">
                    {{ movie.tagline }}
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="font-weight-bold text-primary">{{ movie.title }}</div>
                  <p>
                    {{ movie.overview }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ movie.release_date }}</small>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="small">
                    Budget: {{ movie.budget | currency }}
                  </div>
                  <div class="rounded-circle border border-primary d-flex justify-content-center align-items-center text-primary"
                    style="width: 50px; height: 50px; margin: 15px 0">
                    {{ movie.vote_average }}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>