<div class="container">
  <div class="text-center">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
     
      <div *ngIf="error" class="alert alert-danger">
        {{error}}
      </div> 

      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />

      <input
        type="password"
        formControlName="password" 
        class="form-control" 
        placeholder="Password"
        required
      />

      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="!loginForm.valid"
      >Submit</button>
    </form>
  </div>
</div>