<div class="card mb-4 box-shadow">
  <img class="card-img-top" [alt]="title" [src]="imageUrl" data-holder-rendered="true" style="width: 100%; display: block;">
  <div class="card-body">
    <p class="text-muted text-right">{{movie.release_date}}</p>
    <b>{{movie.title}}</b>
    <p class="card-text">
      {{movie.overview | slice:0:140 }}...
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="getMoreInfo(movie.id)">More info</button>
      </div>
      <small class="text-muted">Score: {{movie.vote_average}}</small>
    </div>
  </div>
</div>