<div class="container">
  <div class="text-center">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="doRegister()">
      <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
     
      <div *ngIf="error" class="alert alert-danger">
        {{error}}
      </div> 

      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />

      <input 
        type="text"
        formControlName="name" 
        class="form-control" 
        placeholder="User name"
        required
      />

      <input
        type="password"
        formControlName="password" 
        class="form-control" 
        placeholder="Password"
        required
      />

      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="!registerForm.valid"
      >Register</button>
    </form>
  </div>
</div>